<div>
    <h2>
        <span class="border border-light">Posts</span>
        <button class="btn btn-primary float-right jh-create-entity create-post" [routerLink]="['/', { outlets: { popup: ['post-new'] } }]">
            <span class="fa fa-plus"></span>
            <span>
            Create new Post
            </span>
        </button>
    </h2>


    <div>
        <h2>Create new post</h2>
        <jhi-post-form></jhi-post-form>
    </div>


    <div *ngIf="posts">
        <div *ngFor="let post of posts">
            <hr>
            <div class="row">
                <span>{{post.ownerId}}</span>
            </div>
            <div class="row">
                <span>{{post.text}}</span>
            </div>
            <button type="submit"
                    [routerLink]="['/', { outlets: { popup: 'post/'+ post.id + '/edit'} }]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-primary btn-sm">
                <span class="fa fa-pencil"></span>
                <span class="d-none d-md-inline">Edit</span>
            </button>
            <button type="submit"
                    [routerLink]="['/', { outlets: { popup: 'post/'+ post.id + '/delete'} }]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-danger btn-sm">
                <span class="fa fa-remove"></span>
                <span class="d-none d-md-inline">Delete</span>
            </button>
            <hr>
        </div>

        <jhi-alert></jhi-alert>
    </div>
</div>
